.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 300px;
  background: url("../../../../../assets/images/flag.jpg") no-repeat center;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  border-radius: 8px;
}

.inner {
  width: 70%;
  height: 70%;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p:first-child {
    font-weight: bold;
  }
  p:nth-child(2) {
    font-style: italic;
  }
}

p {
  text-align: center;
  margin: 10px 0;
}

@media screen and (max-width: 900px) {
  .card-container {
    width: 360px;
    height: 240px;
  }
  p {
    margin: 8px 0;
  }
}
@media screen and (max-width: 500px) {
  .card-container {
    width: 260px;
    height: 175px;
  }
  p {
    margin: 5.8px 0;
  }
}
