<div class="background-container"></div>
<div class="page-container">
  <p class="page-heading">F1 Management App</p>
  <div class="buttons-container">
    <button pButton pRipple type="button" label="Login" class="p-button-raised" (click)="router.navigate(['auth/login'])"></button>
    <button pButton pRipple type="button" label="Register" class="p-button-raised" (click)="router.navigate(['auth/register'])"></button>
    <button pButton pRipple type="button" label="Register a Team" class="p-button-raised" (click)="router.navigate(['auth/register-team'])"></button>
  </div>
</div>



