.cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    border-radius: 8px;
    border: 1px solid black;
    width: 350px;
    height: 300px;
    margin: 20px 50px;
}

.name {
    font-size: 25px;
    font-weight: bold;
}

.height, .mass {
    font-size: 20px;
}

.skinColor, .eyeColor, .hairColor {
    font-size: 17px;
    font-style: italic;
}

@media screen and (max-width: 1356px) {
    .cardContainer {
        width: 40%;
    }
}

@media screen and (max-width: 1050px) {
    .cardContainer {
        width: 30%;
        margin: 20px 20px;
    }
}

@media screen and (max-width: 945px) {
    .name {
        font-size: 18px;
    }

    .height, .mass {
        font-size: 15px;
    }

    .skinColor, .eyeColor, .hairColor {
        font-size: 12px;
    }
}

@media screen and (max-width: 650px) {
    .cardContainer {
        width: 300px;
        margin: 20px 0;
    }
}