<div class="background-container"></div>
<div class="page-container">
  <div class="inner-container">
    <button style="margin-bottom: 10px" (click)="router.navigate(['race-car'])" pButton pRipple type="button" label="Back" class="p-button-raised"></button>
    <p-dropdown id="team" [options]="raceCars" placeholder="Select a Race Car" optionLabel="name" [(ngModel)]="selectedRaceCar"></p-dropdown>
    <p *ngIf="selectedRaceCar === undefined" class="large-text">Please choose a car!</p>
    <ng-container *ngIf="selectedRaceCar !== undefined">
      <button [disabled]="selectedRaceCar.chassis === null || selectedRaceCar.engine === null || selectedRaceCar.gearbox === null"
              (click)="fixCar()" pButton pRipple type="button" label="Fix Car" class="p-button-raised"></button>
      <button [disabled]="selectedRaceCar.chassis === null"
              (click)="fixChassis()" pButton pRipple type="button" label="Fix Chassis" class="p-button-raised"></button>
      <button [disabled]="selectedRaceCar.engine === null"
              (click)="fixEngine()" pButton pRipple type="button" label="Fix Engine" class="p-button-raised"></button>
      <button [disabled]="selectedRaceCar.gearbox === null"
              (click)="fixGearBox()" pButton pRipple type="button" label="Fix Gearbox" class="p-button-raised"></button>
    </ng-container>

  </div>
</div>
